<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	
</head>
<style>
	.batman{
		width: 500px;
		height: 500px;
		position: relative;
		float: right;
	}

	.superman{
		width: 500px;
		height: 500px;
		float: left;
		position: relative;
	}

	.batman_link{
	position: fixed; 
   top: 200px; 
   left: 800px; 
   width: 100%; 
   color: blue;
	}

	.superman_link{
	position: absolute; 
   top: 200px; 
   left: 50px; 
   width: 100%; 
   color: white;
	}
	

</style>
<body>
    
    	<div class ="batman">
    		<img src="https://s-media-cache-ak0.pinimg.com/736x/72/bb/b9/72bbb96e0a9ed01b72b38ae15afced5d.jpg">
    		<a class = "batman_link" href="http://www.dccomics.com/characters/batman">Batman fan page</a><br>
    		<a href="/votos">Vota por tu superhéroe favorito</a>
    	</div>

    	<div class ="superman">
    		<img src="http://images-cdn.moviepilot.com/images/c_scale,h_750,w_500/t_mp_quality/pms0zdylrmdodiqogge1/zack-snyder-just-revealed-the-first-batman-v-superman-posters-and-they-re-stunning-365540.jpg">
    		<a class = "superman_link" href="http://www.supermanhomepage.com/">Superman fan page</a><br>
    		<a href="/votos">Vota por tu superhéroe favorito</a>
    	</div>
</body>
</html>