<h1>Experiments#page1</h1>
<p>Find me in app/views/experiments/page1.html.erb</p>

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<p>Source for the countdown: http://blog.niklasottosson.com/?p=665</p>

<p>Countdown:</p>
<script type="text/javascript">
	        var clock = 300;
	        var countdownId = 0;
 
	        function start() {
	            //Start clock
	            countdownId = setInterval("countdown()", 1000);
	        }
	 
	        function countdown(){
	            if(clock > 0){
	                clock = clock - 1;
	                document.getElementById('cdDiv').innerHTML = clock;

	            }
	            else {
	                //Stop clock
	                clearInterval(countdownId);
	            }
	        }
	    </script>
	  </head>
	  <body onload="start()">

	      <div id="cdDiv">300</div>
	  </body>